ffmpeg  -y  
-r FRAMERATE
INPUTS
-vf scale=ASPECT
-vcodec libx264  
-x264-params vbv-bufsize=VBITRATE:vbv-maxrate=VBITRATE:nal_hrd=cbr:no-scenecut=1:bitrate=VBITRATE:keyint=60  
-acodec aac 
-ab ABITRATE 
-hls_time 2 
-hls_list_size 0  
TOPLEVEL/NAME/index.m3u8
